<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pritam Rajput</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarSupportedContent"
      [attr.aria-expanded]="pageVars.navBarToggle" (click)="pageVars.navBarToggle=!pageVars.navBarToggle"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse {{pageVars.navBarToggle?'show':''}}" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            [attr.aria-expanded]="pageVars.dropdownMenu" (click)="pageVars.dropdownMenu=!pageVars.dropdownMenu">
            Dropdown
          </a>
          <ul class="dropdown-menu {{pageVars.dropdownMenu?'show':''}}" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" tabindex="-1">Blogs</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>